/J1.S.P0052/Geographic/nbproject/private/
/J1.S.P0052/Geographic/build/
/TaskManagement/nbproject/private/
/J1.S.P0071/JavaApplication11/nbproject/private/
/J1.S.P0071/TaskManagement/nbproject/private/
/test/nbproject/private/
/test/build/
